body {
    background-color: rgb(47, 85, 151);
  }
  
  h1 {
    color: rgb(214, 220, 229);
    text-align: center;
    font-size: 3vw;
  }
  
  .topnav a {
    text-align:center;
    text-decoration: none;
    background-color: rgb(59, 56, 56);
    color: rgb(214, 220, 229);
    padding-right: 8vw;
    padding-left: 8vw;
    padding-top: 4vw;
    padding-bottom: 1vw;
    font-size: 1.5vw;
  }